<!DOCTYPE HTML>
<html>
    
<!-- Mirrored from www.montpellier-business-plan.com/inscription by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Oct 2019 08:54:39 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

                	<title>Inscription | Montpellier Business Plan</title>
        
        <meta name="Description" content="Le Montpellier Business Plan vous permet gratuitement, en ligne ou hors ligne, et en toute sécurité de simuler vos chiffres financiers. Intégrant les modèles économiques les plus récents vous pourrez ainsi piloter votre activité avec une vision claire des flux financiers, que vous pouvez partager avec vos interlocuteurs." />
        <meta name="keywords" content="business plan, simulation financière, business model, SaaS, On line, En ligne, gratuit, ergonomique, flux financiers, comptabilité analytique, JEI, CIR, levée de fonds, financement privé" />

        <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700italic,600italic,600,400italic' rel='stylesheet' type='text/css'>

                	        		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/reset.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/generic.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.gritter.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.jqzoom.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/buttons.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/breadcrumbs.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/alertify.core.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/alertify.default.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/modal.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/styles.css" rel="stylesheet" type="text/css" />
        	        
                	        		<link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
        	        
        <link href="../fast.fonts.com/cssapi/f05d5db4-4276-4aa0-b2f2-6567ca2132d9.css" rel="stylesheet" type="text/css" />

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-19329583-20', 'montpellier-business-plan.com');
          ga('send', 'pageview');

        </script>

        <!--[if IE 6]>
        	<link rel="stylesheet" type="text/css" href="https://www.montpellier-business-plan.com/css/ie6.css" media="screen" />
        <![endif]-->

        <script type="text/javascript">
        	var site_url = 'index.html';
        	var base_url = 'index.html';
        	var lang_url = 'fr.html';
        	var current_url = 'inscription.html';
        </script>


                	        		<script src="js/jquery-1.10.2.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery-ui.min.js" type="text/javascript" ></script>
        	        		<script src="js/bootstrap.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.gritter.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.lightbox-0.5.min.js" type="text/javascript" ></script>
        	        		<script src="js/modal.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.general.js" type="text/javascript" ></script>
        	        		<script src="js/jqFancyTransitions.1.8.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.backgroundposition.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.scrollfollow.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.jqzoom-core-pack.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.animate-colors.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.token.js" type="text/javascript" ></script>
        	        		<script src="js/phpjs.min.js" type="text/javascript" ></script>
        	        		<script src="js/alertify.min.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts-more.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts.init.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts_modules/exporting.js" type="text/javascript" ></script>
        	        
        
        
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="https://www.montpellier-business-plan.com/images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>

    
    <body>
    	<div id="header" class="header-content">

          <!--[if lt IE 9]>
          <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
            <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
            <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
              <div style='width: 75px; float: left;'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-warning.jpg' alt='Warning!'/></div>
              <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
                <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Vous utilisez un navigateur dépassé !</div>
                <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Afin utiliser le Montpellier Business Plan correctement, prenez le temps de mettre votre navigateur à jour.</div>
              </div>
              <div style='width: 75px; float: left;'><a href='http://fr.www.mozilla.com/fr/' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
              <div style='width: 75px; float: left;'><a href='http://www.microsoft.com/fr-fr/download/internet-explorer.aspx' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer'/></a></div>
              <div style='width: 73px; float: left;'><a href='http://www.apple.com/fr/safari/download/' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
              <div style='float: left;'><a href='http://www.google.com/chrome?hl=fr' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
            </div>
          </div>
          <![endif]-->

    		<div class="container relative" style="height:115px;">
    			<!-- <div class="margeur-30 fleft">
    				<a href="https://www.montpellier-business-plan.com/fr">
    					<img src="https://www.montpellier-business-plan.com/images/design/header/logo-mmm.jpg" alt="" />
    				</a>
    			</div>

    			<div class="fleft hidden-xs hidden-sm">
    				<a href="https://www.montpellier-business-plan.com/fr">
    					<img src="https://www.montpellier-business-plan.com/images/design/header/logo-mbp.jpg" alt="" />
    				</a>
    			</div>

    			<div class="clearer"></div> -->

    			    				<div class="menu-login-absolute display-menu">
    					<div class="top"></div>
						   
    					<form class="content" action="{{path('app_login')}}" method="post">
					       
                           
                       
                         
                      
                      
    						<div class="margeur-l10">
    							<label for="inputEmail">E-mail <span class="rouge">*</span></label><br />
    							<input type="text" class="form-control" required autofocus id="inputEmail" name="email" value="" />
    						</div>

    						<div class="margeur-10 margeur-l10">
    							<label for="inputPassword">Mot de passe <span class="rouge">*</span></label><br />
    							<input type="password" id="inputPassword" class="form-control" required name="password" value="" />
    						</div>

							<div class="margeur-10 margeur-l10">
							 <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}">
                            </div>

    						<ul class="margeur-10">
    							<li>
    								<a href="{{'app_login'}}" class=""> Code invitation ?</a>
    							</li>

    							<li>
    								<a href="{{path('app_register')}}" title="Créer un nouveau compte">
    									Créer un nouveau compte    								</a>
    							</li>

    							<li>
    								<a href="{{ path('forgotten_password')}}" title="Mot de passe perdu">
    									Mot de passe perdu    								</a>
    							</li>
    						</ul>

    						<div class="margeur-10 margeur-l10">
    							<input type="hidden" name="login-form" value="post" />
    							<input type="submit" class="type-submit" value="Connexion" />
    						</div>
    					</form>
    				</div>
    			
    			<div style="position:absolute;top:0px;right:0px;">
    				<div class="fright container-menu">
    					    						<div class="bloc-user-login fleft display-menu">
    							<h2 class="bloc-moncompte">
    								Connexion    							</h2>
    						</div>
    					
    					
    					<ul class="menu fright">
    						    						    						<li>
    							<a href="{{path('app_register')}}" title="Inscription">
    								Inscription    							</a>
    						</li>
    						
    						<!--
    						<li>
    							<a href="http://support.montpellier-technopole.com/" target="_blank" title="FAQ">
    								FAQ
    							</a>
    						</li>
    						 -->

    						<li class="clearer"></li>
    					</ul>

    					<div class="clearer"></div>
    				</div>

    				<ul class="fright margeur-8 margeur-r30">
    					    						<li class="fleft">
    							<a href="fr.html" class="blanc">
    								FR
    							</a>
    						</li>

    						<li class="fleft margeur-l20">
    							<a href="en.html" class="blanc">
    								EN
    							</a>
    						</li>
    					
    					<li class="clearer"></li>
    				</ul>

    				<div class="clearer"></div>
    			</div>
    		</div>

    	</div>

        
        <div id="corps">
        	<div class="container">
		
    <ul class="alert alert-danger">
        {# on affiche en premier les erreurs globales (cas classiques) #}
        
        {# ainsi que les erreurs concernant chaque champs #}
       
    </ul>
         {{ form_start(form, {'attr': {'class': 'formulaire' , 'method':'post','action':'/register' }}) }}
           {% for error in errors %}
                             <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						   {% endfor %}

	<h1>Inscription</h1>
	
			<div class="margeur-20"></div>
		
					
		<div class="clearer"></div><div class="margeur-20"></div>
	
		<div class="form-element ">
			<div class="fleft">
				<label for="email">
					E-mail <span class="rouge">*</span>
				</label>
				
				<div class="champ">
				 {{form_widget (form.email, {'attr': {'class': 'type-text','value':''}}) }}

				</div>
				
				<div class="clearer"></div>
			</div>
			
			<div class="fleft aide">
				<div class="infos">
					
				</div>
				
				<div class="erreurs">
									</div>
			</div>
			
			<div class="clearer"></div>
		</div>
		
		<div class="form-element ">
			<div class="fleft">
				<label for="password">
					Mot de passe <span class="rouge">*</span>
				</label>
				
				<div class="champ">
									{{form_widget (form.password, {'attr': {'class': 'type-text','value':''}}) }}

				</div>
				
				<div class="clearer"></div>
			</div>
			
			<div class="fleft aide">
				<div class="infos">
					
				</div>
				
				<div class="erreurs">
									</div>
			</div>
			
			<div class="clearer"></div>
		</div>
		
		<div class="form-element ">
			<div class="fleft">
				<label for="password2">
					Confirmation du mot de passe <span class="rouge">*</span>
				</label>
				
				<div class="champ">
				{{form_widget (form.password2, {'attr': {'class': 'type-text','value':''}}) }}

				</div>
				
				<div class="clearer"></div>
			</div>
			
			<div class="fleft aide">
				<div class="infos">
					
				</div>
				
				<div class="erreurs">
				{{ errors }}
			   </div>
			</div>
			
			<div class="clearer"></div>
		</div>
		
		<div class="form-element ">
			<div class="fleft margeur-20" style="width:250px;">
			
			<div class="fleft champ" >
				<p>
					
                   <div class="champ">
				 {{form_widget (form.captcha, {'attr': {'class': 'type-text','value':''}}) }}

				</div>

				</p>
				
				<div class="clearer"></div>
 			</div>
			
			<div class="clearer"></div>
		</div>
		
		<!-- 
		<p class="margeur-25 fs-16">
			Le logiciel est en phase beta avec accès limité. Vous devez posséder un code invitation afin de pouvoir vous inscrire.
		</p>
		
		<div class="form-element ">
			<div class="fleft">
				<label for="invitation">
					Code invitation <span class="rouge">*</span>
				</label>
				
				<div class="champ">
					<input type="text" class="type-text" id="invitation" name="invitation" value="" />
				</div>
				
				<div class="clearer"></div>
			</div>
			
			<div class="fleft aide">
				<div class="infos">
					
				</div>
				
				<div class="erreurs">
										
									</div>
			</div>
			
			<div class="clearer"></div>
		</div>
		 -->
		
		<div class="form-element">
			<div class="cvg fckeditor">
								<h2>Conditions générales d'utilisation</h2>
				
					<p><strong>DEFINITION</strong><br />
Les termes employ&eacute;s ci-apr&egrave;s ont, dans les pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation, la signification suivante&nbsp;:</p>

<p><strong><em>CGU</em></strong>&nbsp;: d&eacute;signe les pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation<br />
Utilisateur&nbsp;: celui qui visite et/ou utilise le site et /ou le logiciel Montpellier Business Plan<br />
<strong><em>Code d&rsquo;acc&egrave;s</em></strong>&nbsp;: compos&eacute; d&rsquo;un identifiant et d&rsquo;un mot de passe<br />
<strong><em>Compte</em></strong>&nbsp;: compte utilisateur compos&eacute; de codes d&rsquo;acc&egrave;s<br />
<strong><em>Business plan</em></strong>&nbsp;: plan d&rsquo;affaires<br />
<strong><em>Logiciel</em></strong>&nbsp;: d&eacute;signe le logiciel Montpellier Business Plan<br />
<strong><em>Logiciel Montpellier Business Plan</em></strong>&nbsp;: nom du logiciel de business plan &eacute;dit&eacute; en mode Saas par Montpellier Méditerranée Métropole.<br />
<strong><em>Saas</em></strong>&nbsp;: Software as a service<br />
<strong><em>Porteur de projet</em></strong>&nbsp;: personne qui a un projet de cr&eacute;ation d&rsquo;activit&eacute;<br />
<strong><em>Invit&eacute;</em></strong>&nbsp;: personne qui re&ccedil;oit des codes d&rsquo;acc&egrave;s au business plan d&rsquo;un utilisateur par ce m&ecirc;me utilisateur</p>

<p><strong>PRESENTATION</strong><br />
Ces Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation interviennent pour le logiciel Montpellier Business Plan disponible gratuitement en mode Saas apr&egrave;s inscription sur le site <a href="index.html">http://www.montpellier-business-plan.com</a> . La validation d&rsquo;un formulaire en ligne vaut acceptation par l&rsquo;utilisateur des pr&eacute;sentes CGU d&egrave;s lors que ce dernier a coch&eacute; la case pr&eacute;vue &agrave; cet effet sur le formulaire.</p>

<p>Le logiciel Montpellier Business Plan est &eacute;dit&eacute; par Montpellier Méditerranée Métropole gr&acirc;ce aux m&eacute;thodes et savoir-faire du BIC (Business &amp; Innovation Centre) de Montpellier Méditerranée Métropole.<br />
Pionnier des incubateurs en France et en Europe, le BIC de Montpellier Méditerranée Métropole est un incubateur reconnu internationalement (award du meilleur incubateur mondial en 2007 d&eacute;cern&eacute; par NBIA, le r&eacute;seau mondial de l&rsquo;incubation) et prim&eacute; &agrave; de nombreuses reprises pour ses outils web et logiciels (DigiBIC Award en 2011 d&eacute;cern&eacute; par EBN, le r&eacute;seau d&rsquo;incubation europ&eacute;en).<br />
En 5 ans, le BIC de Montpellier Méditerranée Métropole a accompagn&eacute; la cr&eacute;ation et la croissance de plus de 500 start-up. Un succ&egrave;s prouv&eacute; par les taux de r&eacute;ussite des entreprises&nbsp;: plus de 88% ont franchi le cap critique des 3 ans (taux national Insee&nbsp;: 63%) et 75% sont toujours en activit&eacute; apr&egrave;s 5 ans.<br />
Le<br />
Montpellier Méditerranée Métropole, par le biais de son Business and Innovation Centre, est un interlocuteur unique pour acc&eacute;l&eacute;rer la r&eacute;ussite des entreprises innovantes.<br />
Depuis 1987, il a accompagn&eacute; plus de 500 entreprises vers une r&eacute;ussite durable avec un taux de r&eacute;ussite &agrave; trois ans sup&eacute;rieur &agrave; 80% alors que la moyenne nationale s&rsquo;&eacute;l&egrave;ve &agrave; 63% (r&eacute;f&eacute;rence INSEE).</p>

<p>Le logiciel Montpellier Business Plan a &eacute;t&eacute; d&eacute;velopp&eacute; &agrave; l&rsquo;origine pour aider les entrepreneurs accompagn&eacute;s par le BIC de Montpellier Méditerranée Métropole &agrave; r&eacute;aliser leur plan d&rsquo;affaires. Dans le but de rendre accessible au plus grand nombre son savoir-faire et son exp&eacute;rience, le BIC de Montpellier Méditerranée Métropole le met donc &agrave; disposition gratuitement de tous les porteurs de projets qui en ont besoin.<br />
Il est utilisable en mode Saas imm&eacute;diatement apr&egrave;s l&rsquo;ouverture d&rsquo;un compte sur le site <a href="index.html">http://www.montpellier-business-plan.com</a>.<br />
En ouvrant un compte sur <a href="index.html">http://www.montpellier-business-plan.com</a>, l&rsquo;utilisateur peut cr&eacute;er jusqu&rsquo;&agrave; 5 business plans en ligne. Il peut donner acc&egrave;s, s&rsquo;il le d&eacute;cide, &agrave; un ou plusieurs invit&eacute;s (partenaires financiers, actionnaires, conseillers, etc.)</p>

<p>Contact&nbsp;: <a href="mailto:bic@montpellier-agglo.com">bic@montpellier-agglo.com</a> - +33&nbsp;467&nbsp;130&nbsp;000</p>

<p><strong>MISE A DISPOSITION D&rsquo;INFORMATION </strong><br />
Toutes les informations pr&eacute;sentes ne le sont qu&rsquo;&agrave; titre purement informatif. Les informations pr&eacute;sentes sur le site ne constituent en aucun cas des conseils personnalis&eacute;s et ne peuvent pas &ecirc;tre utilis&eacute;es l&eacute;galement devant des tribunaux.<br />
L&rsquo;information contenue sur le site ne traite pas de cas particulier.<br />
Par ailleurs, Montpellier Méditerranée Métropole ne garantit pas l&rsquo;exactitude des informations ni l&rsquo;exhaustivit&eacute; des informations contenues sur son site <a href="index.html">http://www.montpellier-business-plan.com</a>. Montpellier Méditerranée Métropole s&rsquo;engage &agrave; fournir une information de qualit&eacute; mais ne saura &ecirc;tre tenue responsable en cas de non exhaustivit&eacute; ou erreur pr&eacute;sentes sur son site. Chaque utilisateur est donc invit&eacute; &nbsp;&agrave; prendre contact avec un professionnel traitant de sa probl&eacute;matique particuli&egrave;re.</p>

<p><strong>COMMENTAIRES SUR LE SITE</strong><br />
En acceptant les pr&eacute;sentes conditions d&#39;utilisation, l&rsquo;utilisateur reconna&icirc;t &ecirc;tre seul responsable des donn&eacute;es qu&#39;il diffuse et/ou transf&egrave;re et s&#39;engage :</p>

<ul>
	<li>&agrave; ne pas diffuser des propos, opinions ou informations &agrave; caract&egrave;re diffamatoire, d&eacute;nigrant, injurieux, obsc&egrave;ne, violent, raciste et plus g&eacute;n&eacute;ralement contrevenant aux &nbsp;textes l&eacute;gaux ou r&egrave;glementaires en vigueur, aux droits des personnes, &agrave; l&#39;ordre public et aux bonnes m&oelig;urs,</li>
	<li>&agrave; d&eacute;livrer des informations r&eacute;elles, exactes, et &agrave; jour au moment de leur saisie et notamment &agrave; ne pas utiliser de faux noms, qualit&eacute;s ou adresses, ou encore des noms, qualit&eacute;s ou adresses sans y &ecirc;tre autoris&eacute;,</li>
	<li>&agrave; s&rsquo;interdire tout d&eacute;marchage commercial, ou diffusion de publicit&eacute;, Montpellier Méditerranée Métropole se r&eacute;serve le droit de supprimer tout commentaire fallacieux, mensonger, injurieux, publicitaire ou ne respectant pas les dispositions pr&eacute;c&eacute;dentes.</li>
</ul>

<p><strong>ASSISTANCE</strong><br />
Les utilisateurs pourront consulter la FAQ en ligne, accessible sur le site, pour trouver une r&eacute;ponse &agrave; leur question ou exposer leur probl&egrave;me.<br />
Le prestataire de service pour la maintenance pourra &ecirc;tre amen&eacute; &agrave; acc&eacute;der aux business plans en ligne. Celui-ci est soumis &agrave; confidentialit&eacute;.</p>

<p><strong>CODE D&rsquo;ACCES</strong><br />
Les codes d&rsquo;acc&egrave;s au logiciel sont personnels et ne doivent en aucun cas &ecirc;tre c&eacute;d&eacute;s &agrave; un tiers. Si malgr&eacute; tout cela &eacute;tait le cas, il le serait aux seuls risques et p&eacute;rils de leur auteur. Cependant, il est possible de donner acc&egrave;s en visualisation &agrave; un ou plusieurs tiers (partenaires financiers, actionnaires, conseiller en cr&eacute;ation d&rsquo;entreprises, etc.), &agrave; votre ou vos business plans, via un code sp&eacute;cifique aux invit&eacute;s et transmis par le site.</p>

<p>Il est strictement interdit d&rsquo;utiliser en masse un m&ecirc;me compte notamment dans le cadre de formations ou autres. La divulgation des codes d&rsquo;acc&egrave;s d&rsquo;un compte qui pourrait avoir pour cons&eacute;quence l&rsquo;utilisation en masse ou frauduleuse d&rsquo;un m&ecirc;me compte est donc interdite.</p>

<p><strong>TRAITEMENT DES DONNEES</strong><br />
Ce site a fait l&rsquo;objet d&rsquo;une inscription aupr&egrave;s du registre du Correspondant Informatique et libert&eacute;s sous le num&eacute;ro 49.</p>

<p>Conform&eacute;ment &agrave; la Loi &laquo; Informatique et libert&eacute;s &raquo; du 6 janvier 1978, l&rsquo;utilisateur dispose d&#39;un droit d&#39;acc&egrave;s et de rectification aux donn&eacute;es le concernant.</p>

<p>Les donn&eacute;es personnelles recueillies sur le site r&eacute;sultent de la communication volontaire et sans contraintes en dehors de la n&eacute;cessit&eacute; de s&rsquo;inscrire pour acc&eacute;der au logiciel. Les donn&eacute;es ainsi collect&eacute;es ne servent qu&#39;&agrave; transmettre des &eacute;l&eacute;ments d&#39;informations demand&eacute;s &agrave; Montpellier Méditerranée Métropole, des conseils et/ou offres de services de Montpellier Méditerranée Métropole par Montpellier Méditerranée Métropole et/ou l&rsquo;un de ses prestataires.</p>

<p><strong>SECURITE DES DONNEES</strong><br />
Le transfert de donn&eacute;es se fait de fa&ccedil;on s&eacute;curis&eacute;e via des &eacute;changes de donn&eacute;es crypt&eacute;es. Montpellier Méditerranée Métropole s&rsquo;engage &agrave; fournir un service de s&eacute;curisation de donn&eacute;es de qualit&eacute; mais ne peut &ecirc;tre tenue responsable des cons&eacute;quences d&rsquo;une &eacute;ventuelle faille de s&eacute;curit&eacute;.</p>

<p><br />
<strong>SAUVEGARDE DES DONNEES</strong><br />
L&rsquo;utilisateur reconna&icirc;t avoir &eacute;t&eacute; inform&eacute; par Montpellier Méditerranée Métropole qu&rsquo;il est prudent en termes de bonne gestion informatique, de proc&eacute;der, apr&egrave;s chaque modification majeure de son ou ses business plans, &agrave; l&rsquo;export et sauvegarde sur un support s&ucirc;r de celui ou ceux-ci, et que l&rsquo;absence d&rsquo;une telle sauvegarde r&eacute;duit de mani&egrave;re significative ses chances de limiter l&rsquo;impact des dommages qui pourraient r&eacute;sulter d&rsquo;une irr&eacute;gularit&eacute; dans le fonctionnement de son logiciel et peut r&eacute;duire la port&eacute;e des services de support fournis par Montpellier Méditerranée Métropole. L&rsquo;utilisateur reconna&icirc;t qu&rsquo;il est de sa responsabilit&eacute; de mettre en &oelig;uvre une proc&eacute;dure pour assurer la r&eacute;cup&eacute;ration des donn&eacute;es, fichiers ou programmes d&eacute;truits, endommag&eacute;s ou perdus. Montpellier Méditerranée Métropole ne saurait &ecirc;tre tenu responsable en cas de perte de donn&eacute;es.</p>

<p><strong>DUR&Eacute;E DE VIE DES DONN&Eacute;ES</strong><br />
En cas d&rsquo;inactivit&eacute; d&rsquo;un business plan, au-del&agrave; d&rsquo;une p&eacute;riode de six mois, celui-ci est automatiquement d&eacute;truit dans les trois mois qui suivent.</p>

<p><strong>LIMITATIONS DE RESPONSABILITE</strong><br />
Montpellier Méditerranée Métropole ne sera en aucun cas responsable &agrave; raison de pr&eacute;judices directs ou indirects (y compris les manques &agrave; gagner, interruptions d&rsquo;activit&eacute;, pertes d&rsquo;informations ou autres pertes de nature p&eacute;cuniaire) r&eacute;sultants d&rsquo;un retard ou d&rsquo;un manquement commis par Montpellier Méditerranée Métropole dans la fourniture ou l&rsquo;absence de fourniture des services de support, alors m&ecirc;me que Montpellier Méditerranée Métropole aura &eacute;t&eacute; inform&eacute; de l&#39;&eacute;ventualit&eacute; de tels pr&eacute;judices. Montpellier Méditerranée Métropole ne peut &ecirc;tre rendu responsable d&rsquo;un fonctionnement non conforme, d&rsquo;un dysfonctionnement, d&rsquo;une inaptitude particuli&egrave;re ou d&rsquo;une absence de fonctionnalit&eacute; dans son logiciel. En outre, l&rsquo;utilisateur reconna&icirc;t que Montpellier Méditerranée Métropole ne sera responsable &agrave; raison d&rsquo;aucun manque &agrave; gagner subi par un tiers et d&#39;aucune r&eacute;clamation ou action en justice dirig&eacute;e ou intent&eacute;e contre l&rsquo;utilisateur par un tiers. En toute hypoth&egrave;se, la responsabilit&eacute; de Montpellier Méditerranée Métropole, quelle qu&#39;en soit la cause ou le fondement, ne saurait exiger la r&eacute;clamation d&rsquo;aucune contrepartie y compris financi&egrave;re. L&rsquo;utilisateur reconna&icirc;t avoir &eacute;valu&eacute; le logiciel de fa&ccedil;on approfondie par une d&eacute;monstration ou un test r&eacute;el pour v&eacute;rifier qu&rsquo;il est en ad&eacute;quation avec ses besoins.</p>

<p><strong>DROIT APPLICABLE - JURIDICTION COMPETENTE</strong><br />
Pour tout litige, il sera fait attribution de juridiction devant les tribunaux fran&ccedil;ais du ressort de Montpellier, m&ecirc;me en cas de pluralit&eacute; de d&eacute;fendeurs ou d&rsquo;appel en garantie, selon les lois fran&ccedil;aises.</p>

<p><strong>PROPRIETE INTELLECTUELLE</strong><br />
Il est strictement interdit de dupliquer le logiciel ou sa documentation selon la loi en vigueur sauf &agrave; des fins exclusives de sauvegarde. Il est &eacute;galement interdit de d&eacute;crypter les fichiers de sauvegardes et l&#39;application locale.<br />
Tous les droits de propri&eacute;t&eacute; intellectuelle relatifs au site (notamment les droits sur les textes, les images, la mise en forme, les graphismes, la structure, les &eacute;l&eacute;ments sonores) appartiennent &agrave; l&rsquo;&eacute;diteur et ce sans aucune limitation.<br />
Toute atteinte aux droits de propri&eacute;t&eacute; intellectuelle de ces personnes pourra donner lieu &agrave; des poursuites. N&rsquo;importe quelle page du Site en dehors des donn&eacute;es saisies dans le business plan peut potentiellement &ecirc;tre r&eacute;f&eacute;renc&eacute;e dans les moteurs et annuaires de recherche du Web.<br />
En conformit&eacute; avec la l&eacute;gislation du droit d&rsquo;auteur et du code de la propri&eacute;t&eacute; intellectuelle, tout utilisateur s&rsquo;engage &agrave; :<br />
- Ne pas recopier les articles sur un autre site, sur un support de pr&eacute;sentation<br />
- A ne pas modifier, r&eacute;&eacute;crire les articles de ce site pour les mettre en ligne modifi&eacute; sur un autre site<br />
- Informer et obtenir l&rsquo;autorisation de Montpellier Méditerranée Métropole en cas d&rsquo;utilisation du contenu du site &agrave; d&rsquo;autres fins que personnelle.<br />
Toute violation de ces dispositions entrainera des sanctions p&eacute;nales et civiles, sanctions qui sont pr&eacute;vues par la loi.</p>

<p><strong>SANCTIONS</strong><br />
Montpellier Méditerranée Métropole se r&eacute;serve le droit de suspendre de plein droit le compte d&rsquo;un ou plusieurs utilisateurs ou de les exclure, sans pr&eacute;avis ni indemnit&eacute;, dans le cas du non-respect de l&rsquo;une des dispositions des pr&eacute;sentes CGU.</p>

<p><strong>MODIFICATION DES CGU</strong><br />
Montpellier Méditerranée Métropole se r&eacute;serve le droit de modifier tout ou partie et &agrave; tout moment les pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&#39;Utilisation. Il appartient donc &agrave; l&#39;Utilisateur de se r&eacute;f&eacute;rer r&eacute;guli&egrave;rement &agrave; la derni&egrave;re version des Conditions G&eacute;n&eacute;rales d&#39;Utilisation disponibles en permanence sur le site <a href="index.html">http://www.montpellier-business-plan.com</a>. Tout usage des services apr&egrave;s modification des Conditions G&eacute;n&eacute;rales d&#39;Utilisation, vaut acceptation pure et simple par l&#39;utilisateur des nouvelles Conditions G&eacute;n&eacute;rales d&#39;Utilisation.</p>
									
			</div>
		</div>
		
		<div class="form-element ">
          				 {{form_widget (form.agreeTerms, {'attr': {'class': 'fleft','value':'1'}}) }}

			
			<label for="cvg" class="fleft margeur-l15" style="margin-top:0px; width:70%">
									J'ai lu et j'accepte les conditions générales d'utilisation ci-dessus.
							</label>
			
			<div class="clearer"></div>
		</div>
		
		<div class="clearer"></div>
		<div class="margeur-20"></div>	
		
		<div class="form-element" id="bouton_haut">
		 {{form_row (form.submit, {'attr': {'class': 'bouton-unlimited','value':'Valider'}}) }}

			<input type="hidden" name="inscription" value="true" />
		</div>
					{{ form_row(form._token) }}

	</form>        		        	</div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="clearer">&nbsp;</div>
                <div class="margeur-15"></div>

                <div class="acenter">
                    <img src="images/design/footer_logo_agglo.png" alt="" height="100" />
                </div>

                <ul class="liens">
                    <li class="fleft">
                                                    <a title="" href="http://www.entreprendre-montpellier.com/form/demande-daccompagnement-pour-la-creation-dune-entreprise-innovante" target="_blank">Demande d'accompagnement</a>
                                            </li>

                    <li class="fleft">
                        <a title="" href="fr/conditions-generales-d-utilisation.html">Conditions générales d'utilisation</a>
                    </li>

                    <li class="fleft">
                        <a title="" href="fr/mentions-legales.html">Mentions légales</a>
                    </li>

                    <li class="fleft">
                        <a title="" href="fr/credits.html">Crédits</a>
                    </li>

                    <li class="clearer"></li>
                </ul>

                <div class="acenter margeur-25 fs-12">
                    © Montpellier Méditerranée Métropole 2019                </div>
            </div>
        </div>

        <div id="commentremplir">
            <div class="clearer"></div>
            <div class="margeur-15"></div>

            <div class="bouton-close">
                <a href="#" id="hide-commentremplir" class="no_alert_a_sauvegarder">
                    <i class="fa fa-times-circle-o fs-20"></i>
                </a>
            </div>

            <div class="content"></div>
        </div>
    </body>

<!-- Mirrored from www.montpellier-business-plan.com/inscription by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Oct 2019 08:54:40 GMT -->
</html>
