/* BOUTONS */
.button, .button:visited {
	background: #222 url(../images/design/main-menu-icon.png) no-repeat center right; 
	display: inline-block; 
	padding: 5px 35px 6px 14px; 
	color: white; 
	text-decoration: none;
/* 	border-radius : 6px; */
/* 	-moz-border-radius: 6px;  */
/* 	-webkit-border-radius: 6px; */
/* 	box-shadow: 0 1px 3px rgba(0,0,0,0.6); */
/* 	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6); */
/* 	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6); */
/* 	text-shadow: 0 -1px 1px rgba(0,0,0,0.25); */
/* 	border-bottom: 1px solid rgba(0,0,0,0.25); */
	border:0;
	border-top:0;
	border-left:0;
	border-right:0;
	position: relative;
	cursor: pointer;
	
/*	font-family:'HelveticaNeueW01-Thin' !important;*/
	font-family:Carme, Arial, Helvetica, Sans-serif !important;
	text-transform:uppercase;
}

.button.noimage {
	background-image:none;
	padding-right:14px;	
}
 
.button:hover, .button.active			{ background-color: #111; color: #fff; text-decoration:none;}
.button:active							{ top: 1px; }
.small.button, .small.button:visited 			{ font-size: 11px}
.button, .button:visited,
.medium.button, .medium.button:visited 		{ font-size: 13px; 
/*											  font-weight: bold; */
											  line-height: 1; 
/* 											  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);  */
											  }
											  
.large.button, .large.button:visited 			{ font-size: 14px; 
												  padding: 8px 35px 9px 14px; }
												  
.super.button, .super.button:visited 			{ font-size: 34px; 
												  padding: 8px 35px 9px 14px; }
												  
input.super.button, input.super.button:visited { padding:4px 35px 4px 14px; }											 

.pink.button, .magenta.button:visited		{ background-color: #e22092; }
.pink.button:hover							{ background-color: #c81e82; }
.green.button, .green.button:visited		{ background-color: #91bd09; background-color:#A3D117;}
.green.button:hover						    { background-color: #749a02; }
.red.button, .red.button:visited			{ background-color: #e62727; background-color:#D90024;}
.red.button:hover							{ background-color: #cf2525; }
.orange.button, .orange.button:visited		{ background-color: #ff5c00; }
.orange.button:hover						{ background-color: #d45500; }
.blue.button, .blue.button:visited		    { background-color: #283667; background-color:#1F4791; }
.blue.button:hover, .blue.button.active		{ background-color: #2575cf; }
.yellow.button, .yellow.button:visited		{ background-color: #ffb515; }
.yellow.button:hover						{ background-color: #fc9200; }

/* END BOUTONS */