a {
    color: #2F2F2F;
}

a:focus,
a:hover {
    color: #252525;
}

body {
    color: #6B6B6B;
    background: #252525;
}

h1 {
    color: #6B6B6B;
}

.left_col {
    background: #252525;
}

.nav_title {
    background: inherit;
}

.nav.side-menu>li.active>a {
    background: #252525;
}

.nav-md ul.nav.child_menu li:before {
    background: rgba(255, 255, 255, 0.75);
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #FFF;
}

.sidebar-footer a {
    background: inherit;
}

.nav-sm ul.nav.child_menu {
    background: #252525;
}

.sidebar-footer {
    background: #252525;
    border-top: solid 5px rgba(151, 193, 30, 0.75);
    padding: 0;
}

.sidebar-footer a {
    color: rgba(255, 255, 255, 0.75);
}

.sidebar-footer a:hover {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.06);
}

.nav.side-menu>li.current-page,
.nav.side-menu>li.active {
    border-right: 5px solid rgba(151, 193, 30, 0.75);
}

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid rgba(151, 193, 30, 0.75);
}

.btn-primary {
    background-color: #E31E29;
    border-color: #E31E29;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    background-color: #592A7D;
    border-color: #592A7D;
}

.btn-success {
    background-color: #97c11e;
    border-color: #97c11e;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #658F00;
    border-color: #658F00;
}

.btn {
    border-radius: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.x_panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.tableau th {
    background: #E31E29;
    border-color: #E46C03;
}

.tableau td {
    color: #6B6B6B;
}

.top_nav .nav>li>a:focus,
.top_nav .nav>li>a:hover,
.top_nav .nav .open>a,
.top_nav .nav .open>a:focus,
.top_nav .nav .open>a:hover {
    background: rgba(245, 130, 32, 0.75);
    color: #FFFFFF!important;
}

.bloc-aide {
    border: 1px solid #dddddd;
}

.main_container .top_nav {
    height: 58px;
}

.entete {
    margin-bottom: 10px;
    padding: 10px 0;
}

.entete h1 {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.entete-min h1 {
    margin-top: 0;
}

.entete .call-to-action .fleft {
    margin-left: 10px;
}

.entete .call-to-action .btn {
    margin: 0;
    margin-top: 2px;
}

.entete .pagination-periode .btn {
    margin-bottom: 0;
    margin-top: 2px;
}

.menu-principal-bp {
    margin-top: 30px;
}

.menu-principal-bp .btn {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    height: 50px;
    padding-top: 15px;
}