.clearer {float:none !important; clear:both !important; height:0; overflow:hidden;}
.spacer {float:none !important; clear:both !important; height:1px; width:1px; overflow:hidden;}

.fleft {float:left !important;}
.fright {float:right !important;}
.fnone {clear:both!important; float:none !important;}

.acenter {text-align:center;}
.aleft {text-align:left;}
.aright {text-align:right;}
.ajustify {text-align:justify;}

.dblock {display:block !important;}
.dinline {display:inline !important;}
.dnone {display:none !important;}

.absolute {position:absolute;}
.relative {position:relative;}

.ohidden {overflow:hidden !important;}

.cauto {cursor:auto;}
.cpointer {cursor:pointer;}
.cmove {cursor:move;}

.uppercase {text-transform:uppercase;}
.smallcaps {font-variant:small-caps;}

.verdana {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif !important;}
.arial {font-family:Arial, Helvetica, sans-serif !important;}
.trebuchet {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important;}
.georgia {font-family:Georgia, Arial, Helvetica, sans-serif !important;}

.spacing-m1 {letter-spacing:-1px !important;}
.spacing-m2 {letter-spacing:-2px !important;}
.spacing-m3 {letter-spacing:-3px !important;}
.spacing-m4 {letter-spacing:-4px !important;}
.spacing-m5 {letter-spacing:-5px !important;}

.ombre-txt {text-shadow:1px 1px 1px #FFFFFF !important;}

h1 {font-size:30px; font-family:"Lucida Grande", Lucida, Arial, Sans-serif; font-weight:normal; color:#878787;}
h2 {font-size:18px; font-family:"Lucida Grande", Lucida, Arial, Sans-serif; font-weight:normal; color:#878787;}
h3 {font-size:16px; font-family:"Lucida Grande", Lucida, Arial, Sans-serif; font-weight:normal; color:#878787;}
h4 {font-size:14px; font-family:"Lucida Grande", Lucida, Arial, Sans-serif; font-weight:normal; color:#878787;}
h5 {font-size:11px; font-family:"Lucida Grande", Lucida, Arial, Sans-serif; font-weight:normal; color:#878787;}
h6 {font-size:10px; font-family:"Lucida Grande", Lucida, Arial, Sans-serif; font-weight:normal; color:#878787;}

strong, .bold {font-weight:bold !important;}
.italic {font-style:italic;}
.underline {text-decoration:underline;}

.fs-10 {font-size:10px !important;}
.fs-11 {font-size:11px !important;}
.fs-12 {font-size:12px !important;}
.fs-13 {font-size:13px !important;}
.fs-14 {font-size:14px !important;}
.fs-15 {font-size:15px !important;}
.fs-16 {font-size:16px !important;}
.fs-17 {font-size:17px !important;}
.fs-18 {font-size:18px !important;}
.fs-20 {font-size:20px !important;}
.fs-22 {font-size:22px !important;}
.fs-23 {font-size:23px !important;}
.fs-24 {font-size:24px !important;}
.fs-26 {font-size:26px !important;}
.fs-27 {font-size:27px !important;}
.fs-30 {font-size:30px !important;}
.fs-33 {font-size:33px !important;}
.fs-36 {font-size:36px !important;}
.fs-48 {font-size:48px !important;}
.fs-50 {font-size:50px !important;}

.lh-0 {line-height:0px !important;}
.lh-14 {line-height:14px !important;}
.lh-16 {line-height:16px !important;}
.lh-18 {line-height:18px !important;}

.margeur-1 {margin-top:1px !important;}
.margeur-2 {margin-top:2px !important;}
.margeur-3 {margin-top:3px !important;}
.margeur-4 {margin-top:4px !important;}
.margeur-5 {margin-top:5px !important;}
.margeur-6 {margin-top:6px !important;}
.margeur-7 {margin-top:7px !important;}
.margeur-8 {margin-top:8px !important;}
.margeur-9 {margin-top:9px !important;}
.margeur-10 {margin-top:10px !important;}
.margeur-15 {margin-top:15px !important;}
.margeur-18 {margin-top:18px !important;}
.margeur-20 {margin-top:20px !important;}
.margeur-25 {margin-top:25px !important;}
.margeur-30 {margin-top:30px !important;}
.margeur-35 {margin-top:35px !important;}
.margeur-40 {margin-top:40px !important;}
.margeur-45 {margin-top:45px !important;}
.margeur-50 {margin-top:50px !important;}
.margeur-70 {margin-top:70px !important;}
.margeur-75 {margin-top:75px !important;}
.margeur-80 {margin-top:80px !important;}
.margeur-290 {margin-top:290px !important;}
.margeur-295 {margin-top:295px !important;}
.margeur-300 {margin-top:300px !important;}

.margeur-b2 {margin-bottom:2px !important;}
.margeur-b5 {margin-bottom:5px !important;}
.margeur-b10 {margin-bottom:10px !important;}
.margeur-b15 {margin-bottom:15px !important;}

.margeur-l1 {margin-left:1px !important;}
.margeur-l2 {margin-left:2px !important;}
.margeur-l4 {margin-left:4px !important;}
.margeur-l5 {margin-left:5px !important;}
.margeur-l10 {margin-left:10px !important;}
.margeur-l15 {margin-left:15px !important;}
.margeur-l18 {margin-left:18px !important;}
.margeur-l20 {margin-left:20px !important;}
.margeur-l22 {margin-left:22px !important;}
.margeur-l25 {margin-left:25px !important;}
.margeur-l28 {margin-left:28px !important;}
.margeur-l30 {margin-left:30px !important;}
.margeur-l35 {margin-left:35px !important;}
.margeur-l40 {margin-left:40px !important;}
.margeur-l45 {margin-left:45px !important;}
.margeur-l50 {margin-left:50px !important;}
.margeur-l55 {margin-left:55px !important;}
.margeur-l60 {margin-left:60px !important;}
.margeur-l70 {margin-left:70px !important;}
.margeur-l80 {margin-left:80px !important;}
.margeur-l90 {margin-left:90px !important;}
.margeur-l100 {margin-left:100px !important;}
.margeur-l110 {margin-left:110px !important;}
.margeur-l115 {margin-left:115px !important;}
.margeur-l260 {margin-left:260px !important;}
.margeur-l575 {margin-left:575px !important;}

.margeur-r4 {margin-right:4px !important;}
.margeur-r5 {margin-right:5px !important;}
.margeur-r10 {margin-right:10px !important;}
.margeur-r15 {margin-right:15px !important;}
.margeur-r20 {margin-right:20px !important;}
.margeur-r25 {margin-right:20px !important;}
.margeur-r30 {margin-right:30px !important;}
.margeur-r70 {margin-right:70px !important;}

.paddeur-5 {padding:5px !important;}
.paddeur-10 {padding:10px !important;}

.w-30pc {width:30% !important;}
.w-40pc {width:40% !important;}
.w-45pc {width:45% !important;}
.w-48pc {width:48% !important;}
.w-50pc {width:50% !important;}
.w-60pc {width:60% !important;}
.w-70pc {width:70% !important;}
.w-80pc {width:80% !important;}
.w-90pc {width:90% !important;}
.w-100pc {width:100% !important;}

.w-1 {width:1px !important;}
.w-2 {width:2px !important;}
.w-25 {width:25px !important;}
.w-50 {width:50px !important;}
.w-60 {width:60px !important;}
.w-75 {width:75px;}
.w-80 {width:80px !important;}
.w-90 {width:90px !important;}
.w-100 {width:100px !important;}
.w-106 {width:106px !important;}
.w-109 {width:109px !important;}
.w-110 {width:110px !important;}
.w-112 {width:112px !important;}
.w-120 {width:120px !important;}
.w-125 {width:125px !important;}
.w-130 {width:130px !important;}
.w-145 {width:145px !important;}
.w-150 {width:150px !important;}
.w-155 {width:155px !important;}
.w-160 {width:160px !important;}
.w-170 {width:170px !important;}
.w-175 {width:175px !important;}
.w-180 {width:180px !important;}
.w-185 {width:185px !important;}
.w-190 {width:190px !important;}
.w-192 {width:192px !important;}
.w-195 {width:195px !important;}
.w-200 {width:200px !important;}
.w-205 {width:205px !important;}
.w-210 {width:210px !important;}
.w-213 {width:213px !important;}
.w-215 {width:215px !important;}
.w-220 {width:220px !important;}
.w-230 {width:230px !important;}
.w-235 {width:235px !important;}
.w-240 {width:240px !important;}
.w-245 {width:245px !important;}
.w-250 {width:250px !important;}
.w-255 {width:255px !important;}
.w-260 {width:260px !important;}
.w-265 {width:265px !important;}
.w-270 {width:270px !important;}
.w-275 {width:275px !important;}
.w-280 {width:280px !important;}
.w-285 {width:285px !important;}
.w-290 {width:290px !important;}
.w-295 {width:295px !important;}
.w-300 {width:300px !important;}
.w-310 {width:310px !important;}
.w-315 {width:315px !important;}
.w-320 {width:320px !important;}
.w-330 {width:330px !important;}
.w-340 {width:340px !important;}
.w-350 {width:350px !important;}
.w-365 {width:365px !important;}
.w-370 {width:370px !important;}
.w-375 {width:375px !important;}
.w-380 {width:380px !important;}
.w-385 {width:385px !important;}
.w-400 {width:400px !important;}
.w-420 {width:420px !important;}
.w-430 {width:430px !important;}
.w-440 {width:440px !important;}
.w-450 {width:450px !important;}
.w-455 {width:455px !important;}
.w-470 {width:470px !important;}
.w-475 {width:475px !important;}
.w-480 {width:480px !important;}
.w-485 {width:485px !important;}
.w-500 {width:500px !important;}
.w-510 {width:510px !important;}
.w-520 {width:520px !important;}
.w-525 {width:525px !important;}
.w-545 {width:545px !important;}
.w-550 {width:550px !important;}
.w-555 {width:555px !important;}
.w-560 {width:560px !important;}
.w-565 {width:565px !important;}
.w-570 {width:570px !important;}
.w-575 {width:575px !important;}
.w-590 {width:590px !important;}
.w-600 {width:600px !important;}
.w-610 {width:610px !important;}
.w-615 {width:615px !important;}
.w-620 {width:620px !important;}
.w-630 {width:630px !important;}
.w-640 {width:640px !important;}
.w-650 {width:650px !important;}
.w-660 {width:660px !important;}
.w-660 {width:660px !important;}
.w-665 {width:665px !important;}
.w-675 {width:675px !important;}
.w-690 {width:690px !important;}
.w-695 {width:695px !important;}
.w-700 {width:700px !important;}
.w-710 {width:710px !important;}
.w-720 {width:720px !important;}
.w-740 {width:740px !important;}
.w-750 {width:750px !important;}
.w-770 {width:770px !important;}
.w-780 {width:780px !important;}
.w-790 {width:790px !important;}
.w-800 {width:800px !important;}
.w-865 {width:865px !important;}
.w-870 {width:870px !important;}
.w-900 {width:900px !important;}
.w-940 {width:940px !important;}

.h-10 {height:10px !important;}
.h-20 {height:20px !important;}
.h-25 {height:25px !important;}
.h-50 {height:50px !important;}
.h-60 {height:60px !important;}
.h-75 {height:75px !important;}
.h-80 {height:80px !important;}
.h-90 {height:90px !important;}
.h-100 {height:100px !important;}
.h-130 {height:130px !important;}
.h-132 {height:132px !important;}
.h-150 {height:150px !important;}
.h-170 {height:170px !important;}
.h-200 {height:200px !important;}
.h-300 {height:300px !important;}

.no-padding-top {padding-top:0px !important;}
.no-padding-bottom {padding-bottom:0px !important;}



.border-gris {border:1px solid #dddddd !important;}
.border-noir {border:1px solid #111111 !important;}
.border-rouge {border:1px solid #c80000 !important;}

.collapse {border-collapse:collapse;}
.td-border-gris td, .td-border-gris th {border:1px solid #dddddd !important;}
.td-padding-5 td, .td-padding-5 th {padding:5px !important;}

.bg-blanc {background:#ffffff !important;}
.bg-gris-clair {background:#f4f4f4 !important;}
.bg-noir {background:#000000 !important;}
.bg-gris {background:#999999 !important;}

.orange {color:#ff9700 !important;}
.rouge {color:#b60000 !important;}
.bleu {color:#267cf1 !important;}
.vert {color:#339933 !important;}
.vert2 {color:#9db960 !important;}
.gris {color:#6c6c6c !important;}
.gris2 {color:#c1bfc0 !important;}
.gris3 {color:#8b8b8b !important;}
.blanc {color:#FFF !important;}
.mauve {color:#825353 !important;}
.mauve2 {color:#8e2222 !important;}
.noir {color:#000000 !important;}
.c444 {color:#444 !important;}


.fckeditor p,.fckeditor h1,.fckeditor h2,.fckeditor h3,.fckeditor h4,.fckeditor h5,.fckeditor h6,.fckeditor ul, .fckeditor span {
	/*margin-bottom : 15px;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:12px !important;
	line-height:18px;*/
}

.fckeditor ul, .fckeditor li {
	list-style:circle !important;
}

.fckeditor ul {
	padding-left:20px;
}

.fckeditor strong {
	font-weight:bold;
}

.fckeditor em,.fckeditor i:not(.fa) {
	font-style:italic;
}
