
{% extends 'layout_dashboard.html.twig' %}
{% block js %}
 <script type="text/javascript">
            jQuery(document).ready(function() {
                /*jQuery.gritter.add({
                    title: ' ',
                    text: 'Vous êtes désormais connecté en tant que hanazarraa53@gmail.com'
                });*/
                
                                    alertify.success('Vous êtes désormais connecté en tant que '.{{ app.user.username }});
                    $('.alertify-log-success').prepend('<p class="fleft" style="margin-top:-1px; margin-right:10px;"><i class="fa fa-check-circle fs-26" style="color:#55B475"></i></p>');
                
            });
 </script>
{% endblock %}

          {% block page_content %}  
   
        <!-- page content -->
   <div class="right_col" role="main">
                            
<div class="entete">
	<h1 class="dblock fleft">
		My business plans	</h1>

	
	<div class="call-to-action fright">
		 <div class="fleft">
							<a href="{{ path('businessplan_create')}}" title="Create a business plan" class="btn btn-lg btn-primary">
					<i class="fa fa-plus-circle"></i> &nbsp;New				</a>
					</div>

		<div class="fleft margeur-l20">
			<a href="https://www.montpellier-business-plan.com/espace_client/compte/affiche_invite" title="Share" class="btn btn-lg btn-primary">
				<i class="fa fa-share-alt"></i> &nbsp;Share			</a>
		</div>

		<div class="clearer"></div>
	</div>

	<div class="clearer"></div>
</div>

<div class="x_panel">
	<div class="margeur-25 liste-bp">

		

		<table class="tableau no-highlight">
			<tr>
				<th class="fs-18">Business plan</th>

				<th></th>

				<th></th>
			</tr>
                       {% for  business in app.user.businessplans %}
							<tr>
					<td>
						<p class="fs-18">
							<a href="https://www.montpellier-business-plan.com/espace_client/bp/choix_bp/070739fb2d8820bcf444610a2d3da350">
								{{ business.name }}							</a>
						</p>
					</td>

					<td>
						<p>
							Business plan over 2 years, starting in July 2019							<br />
							Created on 16/10/2019 at 15:57:36													</p>
					</td>

					<td style="width:260px">
						<div class="fleft acenter fs-22">
							<a href="https://www.montpellier-business-plan.com/espace_client/bp/choix_bp/070739fb2d8820bcf444610a2d3da350">
								<i class="fa fa-pencil"></i>
								<br />
								<span class="fs-15">modify</span>
							</a>
						</div>

													<div class="fleft acenter fs-22 margeur-l15">
								<a href="https://www.montpellier-business-plan.com/espace_client/bp/duplicate_bp/070739fb2d8820bcf444610a2d3da350/0853db360679228d86f0c550e6025cc9" class="demande-confirmation">
									<i class="fa fa-files-o"></i>
									<br />
									<span class="fs-15">clone</span>
								</a>
							</div>
						
						<div class="fleft margeur-l15 acenter fs-22">
							<a href="https://www.montpellier-business-plan.com/espace_client/bp/delete_bp/070739fb2d8820bcf444610a2d3da350/0853db360679228d86f0c550e6025cc9" class="demande-confirmation icone">
								<i class="fa fa-trash-o"></i>
								<br />
								<span class="fs-15">delete</span>
							</a>
						</div>

						<div class="clearer"></div>
					</td>
				</tr>
                {% endfor %}
					</table>
	</div>

	<div class="clearer"></div>

	<div class="margeur-20"></div>

	<div class="row">
		<div class="col-sm-6">
			<div class="bloc-aide">
				<p class="fs-20 bold">How to use Montpellier Unlimited Business Plan?</p>

				<p class="margeur-10">
					This application enables you to create and print the financial tables required for your business plan.				</p>

				<p class="margeur-10">
					<span class="fs-18">First time?</span>
					&nbsp;<a id="commentremplir-bp" href="https://www.montpellier-business-plan.com/espace_client/espace_client/ajax_commentremplir/bp" class="btn btn-md btn-primary open-modal" title="Find out more">Click here</a>
					find out more				</p>
			</div>
		</div>

		<!-- <div class="col-sm-6">
			<div class="bloc-aide">
				<p class="fs-20 bold">Support technique</p>

				<p class="margeur-10">
					Problème technique, bug, difficulité d'utilisation ? Consultez le support technique.
				</p>

				<p class="margeur-10">
					<a href="http://montpellier-business-plan.mynelis.com" class="btn btn-md btn-primary" target="_blank">Click here</a>
					Pour accéder au support technique
				</p>
			</div>
		</div> -->
	</div>

	<div class="clearer"></div>
</div>
  </div>
  {% endblock %}
       
        

               